AIRTABLE_TOKEN=pat_your_token
AIRTABLE_RSVP_BASE_ID=app_your_rsvp_base_id
AIRTABLE_REGISTRY_BASE_ID=app_your_registry_base_id
AIRTABLE_INVITES_BASE_ID=app_your_invites_base_id
AIRTABLE_RSVP_TABLE=RSVPs
AIRTABLE_REGISTRY_TABLE=Registry
AIRTABLE_INVITES_TABLE=Invites
